* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.container {
  width: 600px;
  border: 10px solid darkcyan;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% auto;
  margin-top: 150px;
  box-shadow: 20px 20px 20px 20px  gainsboro;
  border-radius: 10px; }

.slider {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.slider img {
  width: 550px;
  height: 380px;
  border-radius: 10px; }

.image-small {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: darkcyan;
  width: 100%;
  justify-content: center;
  align-items: center; }

.image-small img {
  width: 100px;
  height: 80px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px; }
