* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container {
    width: 600px;
    border: 1px solid yellow;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    margin-top: 150px;
}
.slider {
    height: 300px;
} 
.image-small {
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background:gold;
    width: 100%;
    justify-content: center;
    align-items: center;


    

}
.image-small img {
    width: 100px;
    height: 80px;

}